.channelList {
  position: relative;
  display: none;
  flex-shrink: 0;
  flex-basis: 282px;
  overflow: hidden;
  z-index: 10;
  margin-left: 36px;
  margin-right: 36px;
  align-self: center;

  @media (min-width:1044px) {
    & {
      display: flex;
      flex-direction: column
    }
  }
}
