.controls-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-end;
}

.controls {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.control {
  border: 1px solid currentColor;
  border-radius: 50%;
  padding: 12px;
  margin: 6px;
  outline: none;
  background-color: transparent;
  color: currentColor;
  cursor: pointer;
  transition: 0.2s all;
  width: 44px;
  height: 44px;
  z-index: 12;

  &:hover {
    color: white;
    transform: scale(1.15);
  }

  &__volume {
    width: 100px;
    z-index: 10;
  }

  &__volume-slider {
    color: silver;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: currentColor;
  border-radius: 12px;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: currentColor;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type="range"]:hover::-webkit-slider-runnable-track {
  background: white;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: white;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: currentColor;
  border-radius: 12px;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: currentColor;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type="range"]:hover::-moz-range-track {
  background: white;
}

input[type="range"]:hover::-moz-range-thumb {
  background: white;
}
