*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  color: silver;
  background-color: black;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.08);
  scrollbar-width: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

 .main-wrapper {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;

    position: fixed;
    top: 0;
    left: 0;
 }

 .channel-ui-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.channel-list-and-info-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
